.pointer {
  cursor: pointer;
}

.recipe-item {
  cursor: pointer;
}

.recipe-item:hover {
  background-color: #d4edda !important;
}

.chip {
  background: #24a428 !important;
}

.highlightOption {
  background-color: #24a428 !important;
}

.option:hover {
  background-color: #24a428 !important;
}

.selected {
  background-color: #24a428 !important;
}

.mobile {
  font-size: 1rem !important;
  word-wrap: break-word !important;
}

.custom-width {
  width: 50% !important;
}

.custom-search-width {
  width: 50% !important;
}

@media (max-width: 768px) {
  .mobile {
    font-size: 0.675rem !important;
  }

  .custom-width {
    width: 100% !important;
  }

  .custom-search-width {
    width: 100% !important;
  }
}
